

<%= form_for @restaurant do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :cuisine %><br>
		<%= f.text_field :cuisine %>
	</p>
	<p>
		<%= f.submit %>
	</p>

<% end %>

<% if @restaurant.errors.any? %>
	<section id="restaurant-form-errors">
		<h3><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved: </h3>
		<ul>
			<% @restaurant.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>

	</section>
<% end %>