<% if @restaurants.any? %>
	<% @restaurants.each do |restaurant| %>
		<ul>
			<li>
				<h2><%= restaurant.name %></h2><br>
				<h3><%= "Average rating: #{restaurant.average_rating}/5" %></h3>
				<%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
				<%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
				<%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %>
			<ul>
				<% restaurant.reviews.each do |review| %>
				<li>
					<%= "#{review.comments} (#{review.rating}/5)" %>
				</li>
				<% end %>
			</ul>
			</li>
		</ul>
	<% end %>
<% else %>
	As yet we have no restaurants listed for this area
<% end %>

<a href="/restaurants/new">Add a restaurant</a>